{% extends 'dash_base.html' %}
{% block dash_content %}
	<div class="container">
		<div class="row">
			{% include 'sidebar.html' %}
			{% set csrf =  csrf_token() %}
				<div class="col-md-8">
					<h3>Welcome <a href="?disable=1" class="btn btn-warning btn-xs">Disable</a></h3>
					{% include 'flash.html' %}
					<form id="welcome" method="POST" action="{{url_for('update_welcome', server_id=server['id'])}}">
						<div class="form-group">
							<input name=_csrf_token type=hidden value="{{ csrf }}">
							<div class="well well-sm">
								<strong>Tips: </strong> <i>{user}</i> refers to the new member, <i>{server}</i> to your server name.
							</div>
							<label class="control-label" for="server_welcome_message">Server welcome message</label>
							<input class="form-control input-lg server_welcome_message" name="server_welcome_message" value="{{server_welcome_message}}" ype="text" id="server_welcome_message">
							<div class="checkbox">
								<label>
									<input type="checkbox" name="server_welcome_enabled" {% if server_welcome_enabled %}checked{% endif %}> Server welcome enabled
								</label>
							</div>
							<label class="control-label" for="dm_welcome_message">Direct message welcome</label>
							<input class="form-control input-lg dm_welcome_message" name="dm_welcome_message" value="{{dm_welcome_message}}" ype="text" id="dm_welcome_message">
							<div class="checkbox">
								<label>
									<input type="checkbox" name="dm_welcome_enabled" {% if dm_welcome_enabled %}checked{% endif %}> Direct Message welcome enabled
								</label>
							</div>
							<label class="control-label" for="gb_message">Good Bye message</label>
							<input class="form-control input-lg gb_message" name="gb_message" value="{{gb_message}}" ype="text" id="gb_message">
							<div class="checkbox">
								<label>
									<input type="checkbox" name="gb_enabled" {% if gb_enabled %}checked{% endif %}> Enabled
								</label>
							</div>
							<label class="control-label" for="channel_name">Welcome/Good-Bye channel</label>
							<select class="input-lg form-control" name="channel">
								{% for channel in guild_channels %}
									<option value="{{channel.id}}"{%if channel.id == welcome_channel.id%} selected{%endif%}>#{{channel.name}}</option>
								{% endfor %}
							</select>
							<div class="well well-sm">
								This is the channel where the welcome and bye messages will be posted.<br />
								<strong>Warning: </strong>Mee6 should have the permission to post there.
							</div>
							<button type="submit" class="btn btn-primary">Update</button>
						</div>
					</form>
				</div>

		</div>
	</div>
<script>
$(function(){
	$(".welcome_message").mention({
		queryBy: ['name', 'username'],
		users: {{guild_members|tojson|safe}}
	});
});
$(function(){
	$(".gb_message").mention({
		queryBy: ['name', 'username'],
		users: {{guild_members|tojson|safe}}
	});
});
</script>
	<script src="{{url_for('static', filename='js/mention.js')}}"></script>
	<script src="{{url_for('static', filename='js/bootstrap-typeahead.js')}}"></script>
	<link href="{{url_for('static', filename='css/recommended-styles.css')}}" rel="stylesheet">
{% endblock %}
